.App {
  text-align: center;
}

.content {
  height: 100%;
  width: 100%;
}

.select, .check, .submit {
  margin: 2rem;
}

.select .span-text {
  font-size: 1.2rem;
  margin: 0 3rem 0 3rem;
}

.select .input {
  padding: 2rem;
}